* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#placeholder {
  height: 40px;
  width: 40px;
  padding: 30px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:50px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #292929;
  font: 90% Roboto, Arial, sans-serif;
  font-weight: 300;
}

p {
  padding: 0 10px;
  line-height: 1.8;
}

h3 {
  padding: 5px 20px;
  margin: 0;
}

#header {
  position: relative;
  width: 100%;
}

#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
  background: #e0e0e0;
  color: #292929;
}

#footer p {
  padding: 20px 10px;
}

/*#container {
  width: 700px;
  margin: 0 auto;
}*/

#content {
  width: 80vw;

}

#footer {
  clear: both;
  width: 100%;
  background: #42444e;
  color: #fff;
}
